* {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

html {
  height: 100%;
}

.App {

}

header {
  background-color: #8e95c6;
  /* background: linear-gradient(#92e100, #894dd1); */
  width: 100%;
  height: 75px;
  opacity: .6;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Londrina Outline', cursive;
  font-size: 75px;
}

.main-container {
  background-image: url(/src/images/fullsteam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: blueviolet;
  background-blend-mode: exclusion;
  background-position: center;
  background-attachment: fixed;
  /* height: 600px; */
  height: 100%;
  width: 100%;
  top: 100px;
  bottom: 0;
  display: flex;
}

.section-title {
  margin: 0 20px;
  padding: 20px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  width: 75%;
  position: fixed;
  left: 0;
  height: fit-content;
}

.category-name {
  margin: 10px;

}

.handler-button {
  margin: 20px;
  height: fit-content;
}

.show-answers {
  display: flex;
}

.hide-answers {
  display: none;
}

.game-tracker-container {
  margin: 20px;
  padding: 10px;
  /* border: 2px solid; */
  width: 25%;
  position: fixed;
  right: 0;
  height: fit-content;

}

.difficulty-tag-show {
  display: block;
}

.difficulty-tag-hide {
  display: none;
}

.game-mode-tags {
  font-weight: bolder;
}

/* TIMER */
.timer-container {
  text-align: center;
  background-color: #555;
  opacity: .8;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fadeInUpBig;
  animation-duration: 1s;
  animation-delay: 1s;
}

.time {
  font-size: 3rem;
  padding: 2rem;
  height: fit-content;
}

.button {
  padding: .4rem .5rem;
  margin: .4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  border-style: groove;
  height: fit-content;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #2641d4;
  border: 1px solid #1b1f2b;
}

.button-primary-active {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.button-primary-inactive {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.answers-radio-container {
  display: flex;
  background-color: #555;
  opacity: .8;
}

.screen-title-back-button-container {
  display: flex;
}

.page-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.team-entry-field {
  margin: 10px;
  padding: 10px;
}

.nav-submit-btns-container {
  display: flex;
  justify-content: space-between;
}

.nav-btn-container {
  display: flex;
}


.game-play-container {
  width: 70%;
  height: fit-content;
}

.answer-container {
  width: 75%;
  margin-top: 50px;
}

.each-answer {
  margin: 20px 0;
  height: 70px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.team-name {
  margin: 10px 0 -40px 0;
  color: #8e95c6;
  font-weight: bold;
  text-shadow: 3px 2px 2px black;
  height: 100px;
  text-align: center;
}

.checkboxes {
  margin: 20px 0;
  height: 70px;
  display: flex;
  align-items: center;
}

.submit-answers-btn {

}

.team-score-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #555;
  opacity: .8;
}

.team-score-header {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.team-score-output {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.reveal-correct-answer {
  background-color: #92e100;
}

.main-game-card {
  max-width: 100%;
}

.tracker-team-name {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e95c6;
  font-weight: bold;
  text-shadow: 3px 2px 2px black;
}

.tracker-team-score {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
}